# Environment Variables
.env
.env.*
!.env.example

# Python / Virtual Envs
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.sqldiff
*.db
*.sqlite3

# Node / Next.js
**/node_modules/
**/frontend/.next/
**/frontend/out/
**/frontend/build/
.npm
*.log

# IDE & OS Specifics
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db